/* GENERAL */
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h3, h4 {
  color: white
}


section {
  padding: 65px 0 80px 0;
}

section .heading {
  text-align: center;
  padding: 40px;

}

section .heading h2 {
  text-transform: uppercase;
}

.divider {
  width: 100px;
  height: 2px;
  background-color: #3d61ad;
  margin: 0 auto 20px;
}

.divider.white {
  background-color: white;
}

ul {
  list-style: none;
}

/* NAVBAR */
.navbar {
  background-color: #3d61ad;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.navbar-nav {
  margin: 0 auto;
  text-align: center;
}

.navbar-link {
  color: white !important;
  margin: 0 6px;
}

.navbar-link.active,
.nav-link:hover {
  background-color: white;
  color: #3d61ad !important;
}

/* About */

#about {
  background-color: #3d61ad;
}

#about img {

  max-width: 70%;
  height: auto;

}

.profile-picture {
  text-align: center;
  margin: 0px auto 30px;
}

#about .heading h1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#about .heading h3 {
  background-color: #3d61ad;
}

#about .heading h3, .heading h4 {
  color: #fff;
}

.button1 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 18px 50px;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 20px;
}

.button1:hover {
  background-color: white;
  color: #3d61ad;
}

/* Skills */

#skills h2 {
  text-align: center;
  color: #3d61ad;
}

#skills .progress {
  height: 45px;
  margin: 30px 20px;
}

#skills .progress :last-child {
  margin-bottom: 0px;
}

#skills .progress-bar {
  background-color: #3d61ad;
}

#skills .progress-bar h5 {
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 3px;
}

/* experience */
#experience {
  background-color: #3d61ad;
}

#experience h3 {
  color: #3d61ad;
}

#experience .heading h2 {
  color: white;
}

#experience .timeline p {
  color: #3d61ad;
}


.timeline {
  padding: 30px 10px;
  position: relative;
}

.timeline:before {
  content: " ";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 5px;
  background-color: #333;
  left: 50%;
  margin-left: -2.5px;
}

.timeline>li {
  margin-bottom: 20px;
  position: relative;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline li .timeline-badge {
  color: #3d61ad;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16x;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
}

.timeline-panel-container {
  width: 50%;
  float: left;
}

.timeline-panel-container-inverted {
  width: 50%;
  float: right;
}

.timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background-color: #fff;
}

.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 40px;
}

.timeline-panel:after {
  position: absolute;
  top: 10px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-heading h3 {
  margin-top: 5px;
  font-size: 20px;
}

.timeline-heading h4 {
  color: #3d61ad;
}

/* Education */
#education .heading h2 {
  color: #3d61ad;
  margin: 15px 0px;
}


.education-block {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: #e9ecef;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.education-block h5 {
  color: #888;
  font-size: 15px;
  margin-bottom: 15px;
}

.education-block span {
  font-size: 35px;
}

.education-block h3 {
  color: #3d61ad;
  margin: 15px 0px;
}

.education-block h4 {
  color: #3d61ad;
  margin-bottom: 20px;
  font-weight: normal;
}

/* Projets */

#projet, #projet_web {
  background-color: #3d61ad;
  text-align: center;
  color: white;
}

#projet, #projet_web h2 {
  text-align: center;


}

#projet, #projet_web h3 {
  text-align: left;



}

#projet img,
#projet_web img {
  display: block;
  width: 100%;
  height: 90%;

  object-fit: cover;

  filter: grayscale(20%);
  -webkit-filter: grayscale(20%);

}



.project-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;

  filter: grayscale(40%);
  -webkit-filter: grayscale(20%);
}

.project-container .github-icon {
  position: absolute;
  width: 15%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: .3s ease;
}


.project-container:hover .github-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

/* Projets Web */





#projet_web h5,
#projet_web p {
  color: white;
  text-align: left;
}

#projet_web img {
  border: 5px solid blue;




  object-fit: contain;

  filter: grayscale(100%);
  -webkit-filter: grayscale(20%);
}

/* Contact */

#contact {
  text-align: center;
}

#contact .container {
  text-align: center;
}

#contact h2 {
  color: #3d61ad;
  text-transform: uppercase;
  margin-bottom: 50px;
}

#contact .divider {
  background-color: #3d61ad;
  margin: 0 auto 50px;
}

#contact .col-md-6 {
  color: #3d61ad;
}

#contact .form-control {
  background-color: transparent;
  border-color: #3d61ad;
  color: #3d61ad;
}

#contact .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);

}

#contact .form-control:focus {
  background-color: transparent;
  border-color: #3d61ad;
  box-shadow: none;
  color: #3d61ad;
}

#contact textarea.form-control {
  resize: none;
}

#contact .btn-primary {
  background-color: #3d61ad;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

#contact .btn-primary:hover {
  background-color: #3d61ad;
  color: #fff;
}





/* Footer */

footer {
  background-color: #333;
  padding: 20px 0 40px;
  color: white;
}

footer .bi-chevron-up {
  color: #3d61ad;
  font-size: 25px;
  line-height: 35px;
}

footer img {
  width: 24px;

}

footer .bi-chevron-up:hover {
  font-size: 27px;
}

footer h5 {
  font-weight: normal;
  margin: 0;

}

ul.contact-list {
  list-style: none;
  padding: 0;
}

ul.contact-list li {
  margin-bottom: 10px;

}

ul.contact-list li:last-child {
  margin-bottom: 0;
}



#projet #popup1, #popup2, #popup3, #popup4, #popup5 {
  text-align: center;
  color: #3d61ad;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border: 1px solid #3d61ad;
  width: 400px;
  /* Limite la largeur à 90% de la fenêtre du navigateur */
  overflow-y: auto;
  /* Ajoute une barre de défilement vertical si nécessaire */
  overflow-x: hidden;
  /* Masque le défilement horizontal */
}



/* Style pour le bouton de fermeture */
#projet #popup1 button, #popup2 button, #popup3 button, #popup4 button, #popup5 button {
  background-color: #3d61ad;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style pour le lien d'information */
#projet .github-icon a:last-child {
  margin-left: 10px;

}